{% load static %}

<html>

  <head>
    <meta charset="utf-8">
    <title>Task</title>
    <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
  </head>

  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'tasks:index' %}">Lista de Tareas</a></li>
        <li><a href="{% url 'exit' %}">Cerrar sesión</a></li>
        <li><a href="{% url 'user_detail' user.pk %}">Detalles Usuario</a></li>    <!-- Apéndice -->
        {% else %}
        <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        <li><a href="{% url 'signup' %}">Registrar usuario</a></li>    <!-- Apéndice -->
        {% endif %}
        <!-- Hasta aquí -->
      </ul>
    </nav>
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>

</html>
